.background{

    background-color: white;
    width: 100%;
    height: 100%;
    margin: 0;
    transition: background-color 0.5s ease;
}

.clock-background{

    position: relative;
    height: 500px;
    width: 500px;
    border-radius: 50%;
    background-color:white;
    display: flex;
    left: 400px;
    top: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);



}

.clock-background .numbers{

    position: absolute;
    text-align: center;
    width: 100%;
    height: 100%;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    transform: rotate(var(--rotation));
    color: black;
    
    
}


.clock-background .number1 { --rotation: 30deg;}
.clock-background .number2 { --rotation: 60deg;}
.clock-background .number3 { --rotation: 90deg;}
.clock-background .number4 { --rotation: 120deg;}
.clock-background .number5 { --rotation: 150deg;}
.clock-background .number6 { --rotation: 180deg;}
.clock-background .number7 { --rotation: 210deg;}
.clock-background .number8 { --rotation: 240deg;}
.clock-background .number9 { --rotation: 270deg;}
.clock-background .number10 { --rotation: 300deg;}
.clock-background .number11 { --rotation: 330deg;}
.clock-background .number12 { --rotation: 360deg;}

.clock-background .hand{

    --rotation: 0;
    position: absolute;
    bottom: 50%;
    left: 50%;
    border: 1px solid black;
    background-color: rgb(248, 247, 247);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    transform-origin: bottom;
    z-index: 10;
    transform: translateX(-50%) rotate(calc(var(--rotation) * 1deg));


}

.clock-background::after{

    content: '';
    position: absolute;
    background-color: black;
    z-index: 11;
    width: 15px;
    height: 15px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}
.clock-background .minute{

    width: 5px;
    height: 40%;
    background-color: black;

}

.clock-background .second{
    
    width: 3px;
    height: 45%;
    background-color: rgb(243, 8, 8);

}

.clock-background .hour{
    
    width: 7px;
    height: 30%;
    background-color: black;

}

.darktolight{

    position: absolute;
    width: 25px;
    height: 25px;
    top: 20px;
    left: 20px;
    border: none;
    border-radius: 10px;
    background-image:  url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' height='24' viewBox='0 -960 960 960' width='24'><path d='M480-360q50 0 85-35t35-85q0-50-35-85t-85-35q-50 0-85 35t-35 85q0 50 35 85t85 35Zm0 80q-83 0-141.5-58.5T280-480q0-83 58.5-141.5T480-680q83 0 141.5 58.5T680-480q0 83-58.5 141.5T480-280ZM200-440H40v-80h160v80Zm720 0H760v-80h160v80ZM440-760v-160h80v160h-80Zm0 720v-160h80v160h-80ZM256-650l-101-97 57-59 96 100-52 56Zm492 496-97-101 53-55 101 97-57 59Zm-98-550 97-101 59 57-100 96-56-52ZM154-212l101-97 55 53-97 101-59-57Zm326-268Z'/></svg>");
    transition: 0.5s;
    cursor: pointer;
    background-color: #262626;
}


.darktolight-2{

    position: absolute;
    width: 25px;
    height: 25px;
    top: 20px;
    left: 20px;
    border: none;
    border-radius: 10px;
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' height='24' viewBox='0 -960 960 960' width='24'><path d='M480-120q-150 0-255-105T120-480q0-150 105-255t255-105q14 0 27.5 1t26.5 3q-41 29-65.5 75.5T444-660q0 90 63 153t153 63q55 0 101-24.5t75-65.5q2 13 3 26.5t1 27.5q0 150-105 255T480-120Zm0-80q88 0 158-48.5T740-375q-20 5-40 8t-40 3q-123 0-209.5-86.5T364-660q0-20 3-40t8-40q-78 32-126.5 102T200-480q0 116 82 198t198 82Zm-10-270Z'/></svg>");
    transition: 0.5s;
    cursor: pointer;
    background-color: white;


}

.date-s1 {

    display: flex;
    position: relative;
    height: 45px;
    width: 45px;
    background-color: black;
    top: 60%;
    left: 55%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: white;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 50%;
    font-family: Arial, Helvetica, sans-serif;

}


.date-s2 {

    display: flex;
    position: relative;
    height: 45px;
    width: 45px;
    background-color: black;
    top: 60%;
    left: 35%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: white;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 50%;
    font-family: Arial, Helvetica, sans-serif;

}

.date-s3 {

    display: flex;
    position: relative;
    height: 45px;
    width: 45px;
    background-color: black;
    top: 60%;
    left: 15%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: white;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 50%;
    font-family: Arial, Helvetica, sans-serif;
    
}

.name{

    position: relative;
    top: 25%;
    left: 15%;
    font-weight: 900;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;

}

.full {

    display: flex;
    position: relative;
    width: 25px;
    height: 25px;
    border: none;
    border-radius: 5px;
    background: white;
    top: 30px;
    left: 90%;
    background-image: url("data:image/svg+xml, <svg xmlns='http://www.w3.org/2000/svg' height='24' viewBox='0 -960 960 960' width='24'><path d='M120-120v-320h80v184l504-504H520v-80h320v320h-80v-184L256-200h184v80H120Z'/></svg>");
    cursor: pointer;
    transition: 0.5s;


}

.full-2 {
    display: flex;
    position: relative;
    width: 25px;
    height: 25px;
    border: none;
    border-radius: 5px;
    background: white;
    top: 30px;
    left: 90%;
    background-image: url("data:image/svg+xml, <svg xmlns='http://www.w3.org/2000/svg' height='24' viewBox='0 -960 960 960' width='24'><path d='m136-80-56-56 264-264H160v-80h320v320h-80v-184L136-80Zm344-400v-320h80v184l264-264 56 56-264 264h184v80H480Z'/></svg>");
    cursor: pointer;
    transition: 0.5s;
}